.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__input {
    &:checked + .checkbox__screen::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("public/tick.svg");
      background-repeat: no-repeat;
      background-size: 1rem;
    }

    &:checked ~ .checkbox__text {
      text-decoration: line-through;
    }
  }

  &__screen {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--white);
    border-radius: 6px;
    border: 1px solid var(--gray);
  }

  &__text {
    font-size: 0.875rem;
  }
}
